WMCDuplicateRemover/Code/xsd/tmsxg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tms="urn:TMSWebServices" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:TMSWebServices" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">This schema defines common data-types that are used in generating movie and TV XML data.</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="duration">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">ISO 8601 pattern used to denote program durations.  Year, month and day are not relevent in our context and are omitted.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:duration">
      <xsd:pattern value="PT[0-9][0-9]H[0-5][0-9]M" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="dateTime">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">ISO 8601 pattern for date+time information : YYYY-MM-DDThh:mm:ssZ</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime">
      <xsd:pattern value="20[0-9]{2}\-[0-1][0-9]\-[0-3][0-9]T[0-2][0-9]:[0-5][0-9]:[0-5][0-9]Z" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="date">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">ISO 8601 pattern for date: YYYY-MM-DD</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
      <xsd:pattern value="(19|20)[0-9]{2}\-[0-1][0-9]\-[0-3][0-9]" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="time">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">ISO 8601 pattern for time of day : hh:mm:ss</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:time">
      <xsd:pattern value="\d\d:\d\d:\d\d" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tvRatings">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The FCC standard ratings for TV programs (http://www.fcc.gov/vchip/#guidelines)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TV-Y" />
      <xsd:enumeration value="TV-Y7" />
      <xsd:enumeration value="TV-G" />
      <xsd:enumeration value="TV-PG" />
      <xsd:enumeration value="TV-14" />
      <xsd:enumeration value="TV-MA" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tvColorCode">
    <xsd:annotation>
      <xsd:documentation>The standard color codes used to denote the color scheme used by a TV program (eg. Color, B &amp; W ...).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="B &amp; W">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates that the program is begin telecast in Black and White.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Color">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates that the program being telecast is in color.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Colorized">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates that the program being telecast is a colorised version of the original program.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Color and B &amp; W">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates that the program being telecast is partly in color and partly in Black and White.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="crewMember">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A cast or production crew member for a film or TV show.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="role">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Describes the role of the crew member.  Eg. Actor, Director ...</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="givenname" nillable="true">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The given/first name of the crew member.  The element name follows LDAP naming convention.  TMS does not have given/first names for all cast/crew members.  Hence this element is nillable.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="surname" nillable="true">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The surname/last-name of the crew member.  The element name follows LDAP naming convention.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="image">
    <xsd:annotation>
      <xsd:documentation>Complex type that contains the attributes of an image.  The only attribute available at present is its URI.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="imageUri" nillable="true" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>This element contains an absolute URI to an image associated with the film.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="width" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element defines the width of the image associated with the film.  This element is a place holder.  The width attribute is not available at present.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="height" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element defines the height of the image associated with the film.  This element is a place holder.  The height attribute is not available at present.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="address">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">This complex type describes a generic address.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="streetAddress">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This element groups together the various street address parts for the entire address.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="street">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">This field contains each entry for the street address part of the entire address.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="city">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This field contains the city for the address.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="state">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This field contains the name/code of the state for the address.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="postalCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This field contains the ZIP/Postal code for the address.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="telephone" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This field contains the telephone number if available for the address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fax" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This field contains the fax number if available for the address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mobile" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This field contains the mobile phone number if available for the address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="email" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This field contains the email address if available for the address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="country" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This field contains the country of the address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="postalCodeType">
    <xsd:annotation>
      <xsd:documentation>The definition of a postal code.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="countryCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The two letter ISO standard code for the country in which the postal code belongs.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="2" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="postalCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The postal code used by the country to identify a geographic location.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25" />
            <xsd:whiteSpace value="preserve" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="faultDetailType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A data type that is used to represent the data that will be included in a SOAPFault.detail element.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="faultNumber" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A unique number that indicates the nature of the fault that was generated by TMSDataDirect webservices.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="faultDetail" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A textual description of the probable cause of the SOAP fault.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="mpaaRatings">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">MPAA standard ratings for a movie as defined in the movie and TV database schemas.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Adult">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the way this rating is defined in the movies database schema.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AO">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the way this rating is defined in the TV database schema.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="G" />
      <xsd:enumeration value="NC-17" />
      <xsd:enumeration value="NONE">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Films in the movie database that do not have any ratings associated with them are sometimes marked with this value.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NOT RATED">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the way films without any rating are defined in the movies database schema.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NR">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the way films without any rating are defined in the TV database schema.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PG" />
      <xsd:enumeration value="PG-13" />
      <xsd:enumeration value="R" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="starRating">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A Zap2it reviewer assigned rating for a given film.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="*" />
      <xsd:enumeration value="*+" />
      <xsd:enumeration value="**" />
      <xsd:enumeration value="**+" />
      <xsd:enumeration value="***" />
      <xsd:enumeration value="***+" />
      <xsd:enumeration value="****" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="movieAdvisories">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The standard advisory messages that are associated with a movie shown on TV.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Adult Situations" />
      <xsd:enumeration value="Adolescentes y Adultos" />
      <xsd:enumeration value="Adultos" />
      <xsd:enumeration value="Brief Nudity" />
      <xsd:enumeration value="Graphic Language" />
      <xsd:enumeration value="Graphic Violence" />
      <xsd:enumeration value="Language" />
      <xsd:enumeration value="Mild Violence" />
      <xsd:enumeration value="Nudity" />
      <xsd:enumeration value="Publico General" />
      <xsd:enumeration value="Rape" />
      <xsd:enumeration value="Strong Sexual Content" />
      <xsd:enumeration value="Violence" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>